body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #1a1a40; /* Dark blue background */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

h1 {
  color: #ffffff;
  text-align: center;
  font-size: 2.5rem;
}

#drawingCanvas {
  border: 2px solid #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#controls {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#lobbyId {
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #0057d9;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  position: relative;
  top: 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  transition: top 0.3s ease;
}

.buttonwhite {background-color: #FFFFFF;}
.buttongray1 {background-color: #C0C0C0;}
.buttongray2 {background-color: #808080;}
.buttongray3 {background-color: #404040;}
.buttonblack {background-color: #000000;}
.buttonred {background-color: #FF0000;}
.buttonorange {background-color: #ff7f00;}
.buttonyellow {background-color: #ffff00;}
.buttongreen {background-color: #00ff00;}
.buttoncyan {background-color: #00ffff;}
.buttonblue {background-color: #0000FF;}
.buttonpurple {background-color: #7f00FF;}
.buttonmagenta {background-color: #ff00FF;}
.buttonbrown {background-color: #7f3300;}

button:hover {
  top: -10px;
}

#imageContainer {
  margin-top: 20px;
  max-width: 80%;
  overflow-x: scroll;
  display: flex;
  gap: 10px;
}

img {
  border-radius: 5px;
  max-height: 200px;
  object-fit: cover;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}